<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <header>
        <form id="heroesForm">
          <h1>MY HEROES</h1>
          <a href="" id="home">Home</a>
          <button type="submit" id="addHero">Add Hero</button>
        </form>
      </header>
      <!-- main content -->
      <main>
        <!-- > <form class="heroesList">
          <h3 class="heroName">Name</h3>
          <p class="heroDmg">DMG: 1500</p>
          <button class="editButton">EDIT</button>
          <button class="deleteButton">DELETE</button>
        </form> -->

        <!--  <form id="heroCreate">
          <div class="top">
            <label for="name">Name</label
            ><input
              type="text"
              id="name"
              name="name"
              autocomplete="off"
              required
            />
          </div>
          <div class="bottom">
            <label for="dmg">Damage</label
            ><input
              type="text"
              id="dmg"
              name="dmg"
              autocomplete="off"
              required
            />
          </div>
          <div id="createDiv">
            <input type="submit" value="Create" id="create" />
          </div> 
        </form> -->
      </main>
      <!-- footer -->
      <!--id="bottomBorder"-->
      <footer>
        <!-- <h5>Total DMG: 1500</h5> -->
      </footer>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
